/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
cookies.txt
check_auth.php
create_admin_user.php
composer-setup.php
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.gitignore
.gitattributes
.editorconfig
